CompileFlags:
  Add: [-Wunused-parameter]
  CompilationDatabase: build/linux
  Compiler: clang++-17

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: [modernize*, cppcoreguidelines-*, performance-*, bugprone-*]

InlayHints:
  Enabled: Yes
  Designators: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
